.footer-bottom-div ul {
  list-style: none;
  margin: 20px auto;
}

.links li {
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  padding-left: 0;
}

.social-icons li {
  margin-right: 20px;
  cursor: pointer;
}

.community a {
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  .footer-bottom-div {
    display: none !important;
  }
}
